<div id="banner-image" class="d-flex flex-column justify-content-between p-5">
  <div class="d-flex justify-content-around">
    <!-- <div class="w-25">
      <h2>How it works</h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div> -->

    <div id="tagline" class="text-bold text-light">
      <h1>Live your dream life, drive your dream car...</h1>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "View all cars", cars_path, class: "btn btn-lg btn-light mr-5" %>
    <%= link_to "Add car as an owner", new_car_path, class: "btn btn-lg btn-secondary ml-5" %>
  </div>
</div>


<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <div class="card-product">
        <img src="https://www.couturecars.co.uk/dist/img/hero/hero-2-1920.jpg"/>
        <div class="card-product-infos">
          <h2>List Your Car To Rent</h2>
          <p>Add information about your car for people to view</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card-product">
        <img src="https://www.littlehotelier.com/wp-content/uploads/2015/11/direct-online-booking-small-hotels.jpg"  />
        <div class="card-product-infos">
          <h2>Receive bookings </h2>
          <p>Get notified when your car has been booked</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card-product">
        <img src="https://loveincorporated.blob.core.windows.net/contentimages/main/d0c4ed03-b272-4cff-af04-c4c6eb474638-carkeyshandingover.jpg" />
        <div class="card-product-infos">
          <h2>Rent effortlessly</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by team Illuminate <i class="fas fa-lightbulb"></i>
  </div>
</div>
