.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// .card-trip {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

// .card-trip > img {
//   height: auto;
//   width: 100%;
//   object-fit: cover;
// }

// .card-trip h2 {
//   font-size: 16px;
//   font-weight: bold;
//   padding-top: 10px;
//   padding-left: 10px;
//   text-align: center;
// }

// .card-trip:hover{
//   background-color: #d3d3d3;
// }

.cars-container {
  margin-top: 24px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  object-fit: cover;
  flex-grow: 1;
}

.cars-card {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  a {
    text-decoration: none;
    color:white;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  // height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// car#show

.car-details {
  align-items: center;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: #92a2bf;
  border: none;
    h2 {
      padding: 10px;
    }
    h4 {
      // padding: 10px;
      font-size: 38px;
      font-weight: bold;
    }

    h3 {
      padding: 20px;
    }

   .img-car{
    width: 500px;
   }
}

.car-booking-form{
  position: relative;
  top: 150px;
  color: #92a2bf;
}

