#map-container {
    display: flex;
}

#map {
    // width: 50vw;
    position: sticky;
    top: 20vh;
    margin-right: 20px;
}

.mapboxgl-popup {
    max-width: 200px;
  }

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
