<h1>All cars</h1>

<div class="container">
  <% @cars.each do |car| %>
    <div class="card-product mb-5">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= link_to car.brand, car_path(car) %></h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
  <% end %>
</div>

